<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Mobile</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="~{fragments/navbar::navbar(activeLink=${'details'})}"></div>

<div class="container-fluid">
    <h2 class="text-center text-white mt-5">Details</h2>
    <div th:object="${offerDetails}"
         class="offers row mx-auto d-flex flex-row justify-content-center details-section">

        <!-- Card with offer details -->
        <div class="offer card col-12 col-sm-5 col-md-4 col-lg-5 m-1 p-0">
            <div class="card-body pb-1">
                <h5 class="card-title">
                    <!-- Use properties from DTO -->
                    <span th:text="*{year}"></span>
                    <span th:text="*{brandName}"></span>
                    <span th:text="*{modelName}"></span>
                </h5>
            </div>

            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <!-- Bind properties to display them -->
                    <div class="card-text">➤ Mileage: <span th:text="*{mileage} + ' km'">Mileage</span></div>
                    <div class="card-text">➤ Price: <span th:text="*{price} + ' BGN'">Price</span></div>
                    <div class="card-text">➤ Engine Type: <span th:text="*{engineType}">Engine type</span></div>
                    <div class="card-text">➤ Transmission Type: <span
                            th:text="*{transmissionType}">Transmission type</span></div>
                    <div class="card-text">➤ Vehicle Type: <span th:text="*{vehicleType}">Vehicle type</span></div>
                    <div class="card-text">➤ Chassis Type: <span th:text="*{chassisType}">Chassis type</span></div>
                    <div class="card-text">➤ Horse Power: <span th:text="*{horsePower}">Horse Power</span></div>
                    <div class="card-text">➤ Seller: <span th:text="*{sellerUsername}">Seller Username</span></div>
                    <div class="card-text">➤ Created: <span th:text="${#temporals.format(created, 'yyyy-MM-dd HH:mm')}">Offer created</span>
                    </div>
                    <div class="card-text">➤ Last updated: <span
                            th:text="${#temporals.format(updated, 'yyyy-MM-dd HH:mm')}">Offer updated</span></div>
                </li>
            </ul>

            <div class="card-body d-flex justify-content-between">
                <a th:if="${offerDetails.sellerUsername == username}"
                   class="btn btn-primary btn-md d-inline-flex align-items-center px-3"
                   th:href="@{/offers/update/{id}(id=${offerDetails.id})}" role="button">
                    <i class="fas fa-edit me-6"></i> Update
                </a>

                <form
                        th:if="${offerDetails.sellerUsername == username} or ${#authentication?.authorities?.contains('ADMIN')}"
                        th:method="POST"
                        th:action="@{/offers/{id}(id=${offerDetails.id})}"
                        class="d-inline-block">
                    <!-- hidden method for delete -->
                    <input type="hidden" th:name="_method" th:value="DELETE">
                    <button type="submit" class="btn btn-danger btn-md d-inline-flex align-items-center px-3">
                        <i class="fas fa-trash me-6"></i> Delete
                    </button>
                </form>
            </div>
        </div>

        <!-- Image card -->
        <div class="offer card col-12 col-sm-6 col-md-5 col-lg-6 m-1 p-0">
            <img th:src="@{*{imageUrl}}" class="card-img-top" alt="Car image">
            <div class="card-body">
                <!-- Move description below the image -->
                <p class="card-text" th:text="*{description}">Description</p>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/currency.js}"></script>

</body>
</html>
