<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Update offer</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</head>

<body>

<div th:replace="~{fragments/navbar::navbar(activeLink=${'update'})}"></div>

<div class="container">
    <h2 class="text-center text-white">Update Offer</h2>
    <form
            th:action="@{/offers/update/{id}(id=${offerUpdate.id})}"
            th:method="post"
            th:object="${offerUpdate}"
            enctype="multipart/form-data"
            class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

        <div th:if="${error}" class="alert alert-error" role="alert">
            <span th:text="${error}"></span>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="brandName">Brand</label>
                <select id="brandName" th:field="*{brandName}" class="form-control" disabled>
                    <option value="">- Select a brand -</option>
                    <option th:each="brand : ${brands}" th:value="${brand}" th:text="${brand}"></option>
                </select>
                <input type="hidden" name="brandName" th:value="*{brandName}">
                <span class="text-danger" th:if="${#fields.hasErrors('brandName')}" th:errors="*{brandName}"></span>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="modelName">Model</label>
                <select id="modelName" th:field="*{modelName}" class="form-control" disabled>
                    <option value="">- Select a model -</option>
                    <option th:each="model : ${models}" th:label="${model}" th:value="${model}"
                            th:text="${model}"></option>
                </select>
                <input type="hidden" name="modelName" th:value="*{modelName}">
                <span class="text-danger" th:if="${#fields.hasErrors('modelName')}" th:errors="*{modelName}"></span>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" th:for="vehicleType">Vehicle</label>
                <select th:field="*{vehicleType}"
                        th:errorclass="is-invalid"
                        class="form-control" disabled>
                    <option value="">- Select vehicle type -</option>
                    <option th:each="type: ${allVehicleTypes}"
                            th:value="${type}"
                            th:text="${type}">
                    </option>
                </select>
                <input type="hidden" name="vehicleType" th:value="*{vehicleType}">
                <span class="text-danger" th:if="${#fields.hasErrors('vehicleType')}" th:errors="*{vehicleType}"></span>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" th:for="engineType">Engine</label>
                <select th:field="*{engineType}"
                        th:errorclass="is-invalid"
                        class="form-control" disabled>
                    <option value="">- Select engine type -</option>
                    <option th:each="type: ${allEngineTypes}"
                            th:value="${type}"
                            th:text="${type}">
                    </option>
                </select>
                <input type="hidden" name="engineType" th:value="*{engineType}">
                <span class="text-danger" th:if="${#fields.hasErrors('engineType')}" th:errors="*{engineType}"></span>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" th:for="transmission">Transmission</label>
                <select th:field="*{transmissionType}"
                        th:errorclass="is-invalid"
                        class="form-control" disabled>
                    <option value="">- Select transmission type -</option>
                    <option th:each="type: ${allTransmissionTypes}"
                            th:value="${type}"
                            th:text="${type}">
                    </option>
                </select>
                <input type="hidden" name="transmissionType" th:value="*{transmissionType}">
                <span class="text-danger" th:if="${#fields.hasErrors('transmissionType')}"
                      th:errors="*{transmissionType}"></span>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" th:for="chassisType">Chassis</label>
                <select th:field="*{chassisType}"
                        th:errorclass="is-invalid"
                        class="form-control" disabled>
                    <option value="">- Select chassis type -</option>
                    <option th:each="type: ${allChassisTypes}"
                            th:value="${type}"
                            th:text="${type}">
                    </option>
                </select>
                <input type="hidden" name="chassisType" th:value="*{chassisType}">
                <span class="text-danger" th:if="${#fields.hasErrors('chassisType')}" th:errors="*{chassisType}"></span>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="price" class="text-white font-weight-bold">Price (BGN)</label>
                <input
                        th:field="*{price}"
                        type="number"
                        th:errorclass="is-invalid"
                        class="form-control"
                        placeholder="Price in BGN"/>
                <span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label th:for="mileage" class="text-white font-weight-bold">Mileage (km)</label>
                <input th:field="*{mileage}"
                       type="number"
                       th:errorclass="is-invalid"
                       class="form-control"
                       placeholder="Mileage in kilometers"/>
                <span class="text-danger" th:if="${#fields.hasErrors('mileage')}" th:errors="*{mileage}"></span>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="year" class="text-white font-weight-bold">Year</label>
                <input th:field="*{year}"
                       type="number"
                       step="1"
                       th:errorclass="is-invalid"
                       class="form-control"
                       placeholder="Manufactured year"/>
                <span class="text-danger" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></span>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label th:for="horsePower" class="text-white font-weight-bold">Horse Power (HP)</label>
                <input th:field="*{horsePower}"
                       type="number"
                       th:errorclass="is-invalid"
                       class="form-control"
                       placeholder="Horse Power"/>
                <span class="text-danger" th:if="${#fields.hasErrors('horsePower')}" th:errors="*{horsePower}"></span>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-white font-weight-bold" for="updateImages">Upload Images</label>
                <input id="updateImages" type="file" name="newImages" class="form-control" accept="image/*" multiple>
                <span class="text-danger" th:if="${#fields.hasErrors('newImages')}" th:errors="*{newImages}"></span>
                <label id="chooseMainLabel" class="text-white font-weight-bold" for="mainImageIndex"
                       style="display: none; margin-top: 30px;">
                    Choose image as cover
                    <input type="hidden" id="mainImageIndex" name="mainImageIndex">
                </label>
            </div>
        </div>

        <!-- Hidden input for existing images -->
        <input type="hidden" name="imageUrls" id="existingImages"
               th:value="${#strings.listJoin(offerUpdate.imageUrls, ',')}">

        <!-- Image Preview Section (Shows existing & new images) -->
        <div id="imagePreview" class="image-container mt-3">
            <!-- Loop through existing images (if any) -->
            <th:block th:if="${offerUpdate.imageUrls != null and not #lists.isEmpty(offerUpdate.imageUrls)}">
                <div th:each="image, iterStat : ${offerUpdate.imageUrls}" class="preview-image-container"
                     th:attr="data-index=${iterStat.index}, data-image-url=${image}"
                     th:classappend="${offerUpdate.mainImageIndex == iterStat.index} ? 'selected' : ''">

                    <!-- Remove Button -->
                    <button type="button" class="remove-btn" th:attr="data-image-url=${image}">−</button>
                    <!-- Image Thumbnail -->
                    <img th:src="${image}" alt="Uploaded Image" class="preview-img" loading="lazy">
                </div>
            </th:block>
        </div>

        <!-- Hidden input fields for tracking main image and removed images -->
        <input type="hidden" id="removeImagesId" name="removeImagesId">



        <div class="row">
            <div class="form-group col-md-12 mb-3">
                <label class="text-white font-weight-bold" th:for="description">Description</label>
                <textarea
                        th:field="*{description}"
                        th:errorclass="is-invalid"
                        type="textarea"
                        class="form-control"
                        rows="3"
                        placeholder="Description">
            </textarea>
                <span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col col-md-4">
                <div class="button-holder d-flex justify-content-center align-items-center">
                    <input type="hidden" name="_method" value="PATCH">
                    <input type="submit" class="btn btn-main" value="Save Changes"/>
                </div>
            </div>
        </div>
    </form>
</div>

<script th:src="@{/js/modelAddOfferUpdate.js}"></script>
<script th:src="@{/js/previewImages.js}"></script>
</body>
</html>
