<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Update offer</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script th:src="@{/js/modelAddOfferUpdate.js}"></script>

</head>

<body>

<div th:replace="~{fragments/navbar::navbar(activeLink=${'update'})}"></div>

<div class="container">
    <h2 class="text-center text-white">Update Offer</h2>
    <form
            th:action="@{/offers/update/{id}(id=${offerUpdate.id})}"
            th:method="post"
            th:object="${offerUpdate}"
            class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="brandName">Brand</label>
                <select id="brandName" th:field="*{brandName}" class="form-control">
                    <option value="">- Select a brand -</option>
                    <option th:each="brand : ${brands}" th:value="${brand}" th:text="${brand}"></option>
                </select>
                <span class="text-danger" th:if="${#fields.hasErrors('brandName')}" th:errors="*{brandName}"></span>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="modelName">Model</label>
                <select id="modelName" th:field="*{modelName}" class="form-control">
                    <option value="">- Select a model -</option>
                    <option th:each="model : ${models}" th:label="${model}" th:value="${model}"
                            th:text="${model}"></option>
                </select>
                <span class="text-danger" th:if="${#fields.hasErrors('modelName')}" th:errors="*{modelName}"></span>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" th:for="vehicleType">Vehicle</label>
                <select th:field="*{vehicleType}"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select vehicle type -</option>
                    <option th:each="type: ${allVehicleTypes}"
                            th:value="${type}"
                            th:text="${type}">
                    </option>
                </select>
                <span class="text-danger" th:if="${#fields.hasErrors('vehicleType')}" th:errors="*{vehicleType}"></span>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" th:for="engineType">Engine</label>
                <select th:field="*{engineType}"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select engine type -</option>
                    <option th:each="type: ${allEngineTypes}"
                            th:value="${type}"
                            th:text="${type}">
                    </option>
                </select>
                <span class="text-danger" th:if="${#fields.hasErrors('engineType')}" th:errors="*{engineType}"></span>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" th:for="transmission">Transmission</label>
                <select th:field="*{transmissionType}"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select transmission type -</option>
                    <option th:each="type: ${allTransmissionTypes}"
                            th:value="${type}"
                            th:text="${type}">
                    </option>
                </select>
                <span class="text-danger" th:if="${#fields.hasErrors('transmissionType')}"
                      th:errors="*{transmissionType}"></span>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" th:for="chassisType">Chassis</label>
                <select th:field="*{chassisType}"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select chassis type -</option>
                    <option th:each="type: ${allChassisTypes}"
                            th:value="${type}"
                            th:text="${type}">
                    </option>
                </select>
                <span class="text-danger" th:if="${#fields.hasErrors('chassisType')}" th:errors="*{chassisType}"></span>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="price" class="text-white font-weight-bold">Price (BGN)</label>
                <input
                        th:field="*{price}"
                        type="number"
                        th:errorclass="is-invalid"
                        class="form-control"
                        placeholder="Price in BGN"/>
                <span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label th:for="mileage" class="text-white font-weight-bold">Mileage (km)</label>
                <input th:field="*{mileage}"
                       type="number"
                       th:errorclass="is-invalid"
                       class="form-control"
                       placeholder="Mileage in kilometers"/>
                <span class="text-danger" th:if="${#fields.hasErrors('mileage')}" th:errors="*{mileage}"></span>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="year" class="text-white font-weight-bold">Year</label>
                <input th:field="*{year}"
                       type="number"
                       min="1900"
                       max="2099"
                       step="1"
                       th:errorclass="is-invalid"
                       class="form-control"
                       placeholder="Manufactured year"/>
                <span class="text-danger" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></span>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label class="text-white font-weight-bold" for="imageUrl">Image URL</label>
                <input id="imageUrl" type="url" th:field="*{imageUrl}" class="form-control"
                       placeholder="Vehicle image URL">
                <span class="text-danger" th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}"></span>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="horsePower" class="text-white font-weight-bold">Horse Power (HP)</label>
                <input th:field="*{horsePower}"
                       type="number"
                       th:errorclass="is-invalid"
                       class="form-control"
                       placeholder="Horse Power"/>
                <span class="text-danger" th:if="${#fields.hasErrors('horsePower')}" th:errors="*{horsePower}"></span>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label class="text-white font-weight-bold" th:for="description">Description</label>
                <textarea
                        th:field="*{description}"
                        th:errorclass="is-invalid"
                        type="textarea"
                        class="form-control"
                        rows="3"
                        placeholder="Description">
            </textarea>
                <span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col col-md-4">
                <div class="button-holder d-flex justify-content-center align-items-center">
                    <input type="hidden" name="_method" value="PATCH">
                    <input type="submit" class="btn btn-main" value="Save Changes"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
